@import url("https://fonts.googleapis.com/css?family=Lato");
* {
    color: white;
    font-family: Lato;
}

body {
    background-image: url("../imagenes/fondo_opacidad1.jpg");
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    list-style: none;
    display: inline-block;
    transition: transform .5s;
}

li {
    float: left;
}

li a {
    display: inherit;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    border-radius: 50px;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.Titulo {
    text-align: center;
    font-size: 30px;
}